# 11.-Recursión, Búsqueda, Ordenamiento, Iteración

## 11.2.- Algoritmos iterativos y Recursivos

### 11.2.1.- Fibonacci

Vamos a armar la sucesión de Fibonacci - Comenamos definiendola. Recuerda que los primeros 2 numeros, son 0 y 1, y los numeros subsecuentes son la suma de los 2 anteriores

In [3]:
def fibonacci(n): #Función recursiva(se llama a si mismo)
    if n in (0,1):
        return n
    else:
        return fibonacci(n-1)+fibonacci(n-2)

fibonacci(10)

55

Ahora vamos a probarla, arma un for que muestre lo valores Fibonacci de 0 a 40.

In [2]:
for n in range(41):
    print(f'k({n})={fibonacci(n)}')

k(0)=0
k(1)=1
k(2)=1
k(3)=2
k(4)=3
k(5)=5
k(6)=8
k(7)=13
k(8)=21
k(9)=34
k(10)=55
k(11)=89
k(12)=144
k(13)=233
k(14)=377
k(15)=610
k(16)=987
k(17)=1597
k(18)=2584
k(19)=4181
k(20)=6765
k(21)=10946
k(22)=17711
k(23)=28657
k(24)=46368
k(25)=75025
k(26)=121393
k(27)=196418
k(28)=317811
k(29)=514229
k(30)=832040
k(31)=1346269
k(32)=2178309
k(33)=3524578
k(34)=5702887
k(35)=9227465
k(36)=14930352
k(37)=24157817
k(38)=39088169

KeyboardInterrupt:

#### Por tu cuenta

La versión iterativa de fibonacci es el siguiente programa. Usa %timeit para comparar la versión original vs la iterativa para los numeros 32,33 y 34

def fibonacci_iterativo(n):
    resultado = 0
    temp = 1
    for j in range(0,n):
        temp, resultado = resultado, resultado + temp
    return resultado

In [4]:
def fibonacci_iterativo(n):
    resultado = 0
    temp = 1
    for j in range (0,n):
        temp,resultado = resultado,resultado + temp
    return resultado

In [7]:
%timeit fibonacci_iterativo(17)

706 ns ± 24.8 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [8]:
%timeit fibonacci(17)

447 μs ± 11.2 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

### 11.2.2.- Series Geometricas

Ahora vamos a armar series geometricas. Está tendra a=3, r=1/2 y n=20

COmenzamos con la definicion de las variables a y r

In [11]:
a = 3 
r=1/2

Ahora vamos a la definición de la función serie_geom(n)

In [24]:
def serie_geom(n):
    if n == 0:
        return a
    else:
        return serie_geom(n-1)+a*r**(n-1) #Serie geométrica: a+ar+ar^2+...+ar^(n-1)

Y terminamos con la impresión de los resultados del 1 al 10

In [12]:
serie_geom(0)

3

In [ ]:
#for i in range(1,11):
#    print(serie_geom(i))

[serie_geom(n) for n in range(1,11)]

6.0
7.5
8.25
8.625
8.8125
8.90625
8.953125
8.9765625
8.98828125
8.994140625

### 11.2.3.- Factorial

Ahora vamos a ver factoriales, comenzamos definiendo la funcion factorial

In [ ]:

def fac_recur(n):
    if n == 0:
        return 1
    else:
        return n*fac_recur(n-1)

E imprimimos del 1 al 20

In [53]:
[fac_recur(n) for n in range (1,21)]

[1,
 2,
 6,
 24,
 120,
 720,
 5040,
 40320,
 362880,
 3628800,
 39916800,
 479001600,
 6227020800,
 87178291200,
 1307674368000,
 20922789888000,
 355687428096000,
 6402373705728000,
 121645100408832000,
 2432902008176640000]

Ahora intenta el factorial de forma iterativa

In [55]:
def fac_iterativo(n):
    resultado = 1
    if n == 0:
        return resultado
    else:
        for j in range (1,n+1):
            resultado *= j
        return resultado

#Otra manera
def facrtorial_iter(n):
    fin = n-1 #Guardamos desde la posicion n-1   
    for i in range (fin,1,-1): #hacemos un rango desde 0-1 hasta 20-1 en sentido descendente imitando el concepto factorial
        n*=i #guardamos en "n" el dato de los valores multiplicados dentro del rango
    return n

In [44]:
fac_iterativo(0)

1

In [54]:
[fac_iterativo(n) for n in range (1,21)]

[1,
 2,
 6,
 24,
 120,
 720,
 5040,
 40320,
 362880,
 3628800,
 39916800,
 479001600,
 6227020800,
 87178291200,
 1307674368000,
 20922789888000,
 355687428096000,
 6402373705728000,
 121645100408832000,
 2432902008176640000]

## 11.3.- Búsqueda

### 11.4.- Búsqueda lineal

La busqueda lineal es la mas sencilla y mensa, simplemente va elemento por elemento del arreglo viendo si es el indicado

Vamos a comenzar haciendo una función sencilla de búsqueda lineal

In [56]:
def busquedalineal(datos,dato_aBuscar):
    for indice,valor in enumerate(datos):
        if valor == dato_aBuscar:
            return indice
    return -1

#Lógica de busqueda del index

Luego le damos los datos: 
    
datos = [1.70, 1.65, 1.58, 1.81, 1.84, 1.78, 1.68, 1.72]

In [57]:
datos = [1.70, 1.65, 1.58, 1.81, 1.84, 1.78, 1.68, 1.72]

In [60]:
print("El número que buscas tiene indice", busquedalineal(datos,1.81))

El número que buscas tiene indice 3

Y luego probamos

In [61]:
print("El número que buscas tiene indice", busquedalineal(datos,99999999))

El número que buscas tiene indice -1

## 11.4.- Ordenamiento

### 11.4.1.- Ordenamiento por Selección

Vamos a comenzar con Ordenamiento por Selección

En este ciclo, se reduce la cantidad de elementos, una vez que se ha encontrado el elemento más
pequeño y se ubica en la primera posición.

In [69]:
def ordenamiento_sel(datos):
    for indice1 in range (len(datos)-1):
        peque = indice1

        for indice2 in range(indice1+1,len(datos)):
            if datos[indice2]<datos[peque]:
                peque=indice2
        
        datos[peque],datos[indice1]=datos[indice1],datos[peque] #intercambio el valor del más pequeño al indice 1 y así sucesivamente

#Lógica sorted

In [70]:
ordenamiento_sel(datos)

En esta parte se identifica el elemento más pequeño, entre los elementos que quedan, y se intercambia de posición con el elemento que tiene el índice más bajo.

Y ahora apliquemos este algoritmo a auna lista que contiene la estatura de 9 personas

1.85, 1.70, 1.58, 1.83, 1.80, 1.75, 1.70, 1.90, 1.65

In [71]:
import numpy as np

In [72]:
datos = np.array([1.85, 1.70, 1.58, 1.83, 1.80, 1.75, 1.70, 1.90, 1.65])

In [74]:
print(f'Unsorted Array: {datos}\n')

Unsorted Array: [1.85 1.7  1.58 1.83 1.8  1.75 1.7  1.9  1.65]

In [75]:
ordenamiento_sel(datos)

In [76]:
print(f'Sorted Array: {datos}\n')

Sorted Array: [1.58 1.65 1.7  1.7  1.75 1.8  1.83 1.85 1.9 ]